# HTID:9007710: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
AuthType Basic
AuthName "Restricted Access"
AuthUserFile "/storage/ssd1/625/9158625/public_html/site_test/.htpasswd"
Require user administrateur
# Activation du suivi des liens symboliques
Options +FollowSymLinks

# Choix du fuseau horaire
SetEnv TZ Europe/Paris

# Encodage par défaut des fichiers textes et HTML
AddDefaultCharset UTF-8

# Protéger les fichiers .htaccess et .htpasswds
<Files ~ "^.*\.([Hh][Tt][AaPp])">
order allow,deny
deny from all
satisfy all
</Files>

# Éviter le spam de commentaires
<IfModule mod_rewrite.c>
RewriteCond %{REQUEST_METHOD} POST
RewriteCond %{REQUEST_URI} .wp-comments-post\.php*
RewriteCond %{HTTP_REFERER} !.000webhostapp.com.* [OR]
RewriteCond %{HTTP_USER_AGENT} ^$
RewriteRule (.*) ^http://%{REMOTE_ADDR}/$ [R=301,L]
</IfModule>


<IfModule mod_rewrite.c>
RewriteCond %{QUERY_STRING} ^author=([0-9]*)
RewriteRule .* - [F]
</IfModule>

# Forcer le téléchargement pour ces types de fichiers
AddType application/octet-stream .csv


# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:9007710:
